@import "./reset";


// Variables - Colors (Primary)
$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);

// Variables - Colors (Neutral)
$dark-blue: hsl(212, 21%, 14%);
$dark-gray: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

// Typography
$font-size-p: 0.875rem;
$font-size-type: 0.75rem;
$font-size-header: 2rem;

$font-family-1: "Montserrat",  sans-serif;
$font-family-2: "Fraunces", serif;

$font-weight-500: 500;
$font-weight-700: 700;

// ======================

@mixin bigFont($color) {
    font-family: $font-family-2;
    font-size: $font-size-header;
    font-weight: $font-weight-700;
    color: $color;
}

body {
    margin: 0;
    background: $cream;
    font-family: $font-family-1;
    font-size: $font-size-p;
    color: $dark-gray;
    font-weight: $font-weight-500;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
}

.card {
    max-width: 37.5rem;
    background: $white;
    margin: 1.5rem 1rem;
    border-radius: 16px;
}

.heading-big {
    @include  bigFont($dark-blue);
    margin-top: 1rem;
    text-wrap: wrap;
}

.product-type {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: $font-size-type;
    margin: 0;
}

.product-image {
    width: 100%;
}

.product-image img {
    border-radius: 16px 16px 0 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
}

.product-description {
    margin: 0;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.price {
    @include  bigFont($dark-cyan);
}

.add-cart {
    display: block;
    background-color: $dark-cyan;
    border: none;
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 8px;
}

.add-cart:hover {
    cursor: pointer;
}

.add-card img {
    display: block;
}

.add-message {
    color: $white;
    font-weight: $font-weight-700;
}

@media screen and (min-width: 42rem) {
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .product-image img {
        border-radius: 16px 0 0 16px;
    }
}